body {
  background: #EFEFEF;
  /*font-family: "Franklin Gothic Medium";*/
  font-family: 'Roboto', sans-serif;
  height:100%;
}
button { white-space: normal; }
.btn-default { border: none; }
.letter-spaced { letter-spacing: 2px; }
.no-padding { padding-left:0px !important; padding-right: 0px !important; }

#brand { font-size: 12px; font-weight: 800px; }
#brand img { margin: 20px auto 5px; }
#brand p { padding: 0 10px; }

.search_options { 
  width: 80%; 
  margin: 0 auto;
  font-size: 1.2em;
}
.search_options h3, #projectStatusOptions h3 { 
  text-align: left; 
  font-size: 14px; 
  font-weight: 800; 
  letter-spacing: 2px;
  text-transform: uppercase;
}
.search_options button { width: 100%; }

.search_options label { font-weight: 300; letter-spacing: 1px; }

.search_actions { margin-top: 20px; }

.advancedSearch { 
  margin-top: 25px; 
  font-weight: 700;
  text-align: center;

}
.advancedSearch a { 
  color: #FFF;
  font-size: 16px; 
}
.advancedSearch a:hover { color: #CCC; }

#searchByYear input { color: #333; }

#projectStatusOptions {
  padding: 0 0;
}

.button {
  font-size: 12px;
  color: #ffffff;
  background: #ca7c29;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px;
  white-space: pre-wrap !important;
}

#btnGroupDrop1 { 
  border: 1px solid #CCC;
  border-radius: 4px 0 0 4px !important;
  -moz-border-radius: 4px 0 0 4px !important;
  -webkit-border-radius: 4px 0 0 4px !important; 
}

.btn-group.btn-group-responsive #googleMaps {   
  border-radius: 0 4px 4px 0 !important;
  -moz-border-radius: 0 4px 4px 0 !important;
  -webkit-border-radius: 0 4px 4px 0 !important; 
}

.btn-group-vertical>.btn:first-child:not(:last-child) {
    
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    -moz-border-top-right-radius: 4px !important;
    -webkit-border-top-right-radius: 4px !important;
}

#selectionResultsContainer { 
 /* background-image: url(https://s26.postimg.org/mjuxkr9mx/Blue_BKG.png);*/
  display: none;
  position: absolute;
  top: 20px;  
  max-height: 800px;
  background-size: 100% 100%;
  z-index: 99;
}

#selectionResultsContainerWrapper {
  width: 95%;
  margin: 20px auto;
  background-color: white;
  font-size: 12px;
  color: #141E36;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  height: 95%;
  overflow: auto;
  -webkit-box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.75);
}
.project-summary { margin-bottom: 20px; }
#selectionResultsControl { display: none; color: #13385B; margin-top: 10px; }
#selectionResultsContainer tr:nth-child(even) { background-color: #EFEFEF }
#selectionResultsControl button { color: #13385B; letter-spacing: 1px;}
#selectionResultsControl button.btn-close { 
  font-size: 9px;
  width: 70px;
  color: #FFF;
  padding: 5px;
}
.btn-paging { 
  background: none;
  border: none; 
  width: 60px;
}
.btn-paging:focus { outline:none; }
#selectionCount { margin-right: 5px; }
    
#mapOptions {
  position: absolute;
  margin-left: 10px !important;
  width: 400px;
}
#mapOptions-advanced {
  position: absolute;
  margin-left: 10px !important;
  width: 94% !important;
}

#mapOptions-advanced .btn-group-responsive>#googleMaps {
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

#mapOptions button, #mapOptions-advanced button { 
  background-color: #CA7C29;
  color: #fff;
}

#mapOptions-advanced .dropdown-menu {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 900px;
}

#mapOptions-advanced .dropdown-menu .btn { width: 150px; }

#header {
  position: absolute;
  bottom: 40px;
  right: 300px;
  background-color: #CA7C29;
  padding: 2px;
  color: white;
  font-size: 12px;
}

#txdotMap {}
#imagery {}
#streets {}
#googleMaps {}

.summaryTable {
  background: #ffffff;
  font-size: 10px;
  color: #0C1B2A;
  margin: auto;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  width: 100%;
}

.summaryTableWrapper {
  padding: 20px 10px;
  margin-bottom:10px;
  background: #fff;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  min-height: 390px;

}
.summaryTableWrapper h3 { 
  color: #13385B;
  font-size: 16px; 
  text-align:left; 
  font-weight: 600; 
  margin-top:5px; 
}

.summaryTable th {
  text-align: center;
  background-color: #13385B;
  color: #fff;
  padding: 10px;
  font-size: 14px;
}
.summaryTable th:first-child {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}

.summaryTable th:last-child{
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
.summaryTable tr:first-child { margin-top: 20px; }

.summaryTable tr:nth-child(even) { background-color: #EFEFEF; }

.summaryTableLeft { text-align: left; }

.summaryTableRight { text-align: right; }

.summaryTable td {
  font-size: 9px;
  color: #0F385A;
  }

.resultsTable th {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  background-color: #13385B;
  color: #fff;
  text-align: center;
}
select {
  padding: 5px;
  border-radius: 5px;
}

.resultsTable {
  margin-top: 15px;
  width: 100%;
}
.resultsTable th {
  width: 30%;
}
/*.arcgisSearch .searchGroup .searchBtn {
  color: #333;
  font-size: 20px;
  float: right;
}
.arcgisSearch .searchGroup .searchExpandContainer .searchAnimate .searchInputGroup {
  border-right: 1px solid black;
  width: 200px;
  float: none;
}
.arcgisSearch .searchGroup .searchInput { width: 98% !important; }*/
.filters td {
  text-align: left;
  background-color: white;
  padding: 5px;
}
.filters th {
  background-color: white;
  color: black;
  text-align: left;
  font-size: 10px;
}

.centered {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}


/*
 * End Baked in
 * ---------------------------------------------------
*/

#viewDiv {
  position: absolute;
  left: 5px;
  width: 100%;
  background: #EFEFEF;
}
#filterOptions {
  font-size: 12px;
  color: #ffffff;
}


body, html, .row-offcanvas {
  height: 100%;
}

#sidebar {
  width: inherit;
  width: 25%;
  min-width: 300px;
  /*max-width: 450px;*/
  float: left;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url("https://s26.postimg.org/mjuxkr9mx/Blue_BKG.png");
  background-size: 100% 100%;
  box-shadow: 10px 10px 18px -10px rgba(0,0,0,0.68);
}
#main {
  height: 100%;
  overflow: auto;
}

.DB6AIconTD font { font-size: 29px !important;padding: 0 17px !important; }

.DB6AMainMenuItemTD {
  padding: 12px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
}

#ExportData { padding-top: 15px; }


/*
 * Queries
 * --------------------------------------------------
*/

/* stack buttons on small screen */
  @media (max-width: 991px) {
    
    .btn-group.btn-group-responsive > .btn{
      display: block;
      width: 70%;
    }

    
    /* making the border-radius correct */
    .btn-group.btn-group-responsive > .btn:first-child { border-radius: 6px 6px 0 0; }
    .btn-group.btn-group-responsive > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-top-right-radius: 6px; }
    .btn-group.btn-group-responsive > .btn:last-child:not(:first-child) { border-radius: 0 0 6px 6px; }

    
    /* fixing margin */
    .btn-group.btn-group-responsive .btn + .btn { margin-left: 0; }

    #btnGroupDrop1 { 
      border-radius: 4px 4px 0 0 !important;
      -moz-border-radius: 4px 4px 0 0 !important;
      -webkit-border-radius: 4px 4px 0 0 !important; 
    }

    #mapOptions-advanced #googleMaps {
      border-radius: 0 0 4px 4px !important;
      -moz-border-radius: 0 0 4px 4px !important;
      -webkit-border-radius: 0 0 4px 4px !important; 
    }

  }

@media screen and (max-width: 1400px) {

  .searchBtn { display:none !important; }
  .searchInput { 
    z-index: 0 !important;
    width: 185px !important;
    -moz-border-radius-topright: 5px !important;
    -moz-border-radius-bottomright: 5px !important;

    -webkit-border-top-right-radius: 5px !important;
    -webkit-border-bottom-right-radius: 5px !important;
   }
  .button, .search-from-year { margin-bottom: 10px !important; }
  .DB6AIconTD font { 
    font-size: 23px !important;
    padding: 0 10px !important; 
  }



  /*.row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width: calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }*/
}
